                <!-- pricing item -->
                <div class="col-lg-4 col-md-6 col-sm-12 price-item">
                    <div class="single-price-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Basic Plan</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-content">
                                <span class="currency">$</span>
                                <span class="price">13.90</span>
                                <span class="period">/Month</span>
                            </div>
                            <ul class="list">
                                <li class="active">Built-In Tools</li>
                                <li class="active">Advanced Functionality</li>
                                <li class="active">High Speed</li>
                                <li class="active">Marketing and SEO</li>
                                <li>Professional Features</li>
                                <li>24x7 Support</li>
                                <li>Free SSL certificate</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="btn-style-three-js">Select Plan <span></span></a>
                        </div>
                    </div>
                </div>
                <!-- pricing item end -->