<li class="accordion-item">
    <a class="accordion-title active" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
   {{Model.ContentItem.Content.FaqItem.QuestionText.Text}}</a>
    <p class="accordion-content show">{{ Model.ContentItem.Content.FaqItem.AnswerText.Text}}</p>
</li>