	<!-- Start Services Design One Section -->
<section class="services-design-one pt-70 pb-100">
    <div class="container">
        <div class="row">
            {{ Model.Content.BagPart | shape_render}}
        </div>
    </div>
</section>
<!-- End Services Design Two Section -->