
{% zone "Header" %}
	<div class="home-area home-3-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="main-banner-content">
								<h1>Future Developments of Artificial Intelligence</h1>
								<p>{{ "The Taiwan AI Center of Excellence (Taiwan AICoE) serves as a hub for promoting AI development and international cooperation in Taiwan. It horizontally integrates cross-ministerial resources and vertically connects industry, academia, and research sectors to build Taiwan into a world-class AI research and development cluster." | t }}</p>

								{% if Culture.Name == "en" %}
								<div class="banner-btn">

									<a href="/about-us" class="btn-style-three-js">About Us <span></span></a>

									<div class="video-box">
										<a href="https://www.youtube.com/watch?v=sOySD_XTDKA" class="popup-video"> <i class="fa fa-play"></i></a>
										<div class="iq-waves">
											<div class="waves wave-1"></div>
											<div class="waves wave-2"></div>
											<div class="waves wave-3"></div>
										</div>
										<h5>Video Intro</h5>
									</div>

								</div>
								{% else %}
								<div class="banner-btn">

									<a href="/關於我們" class="btn-style-three-js">關於我們 <span></span></a>

									<div class="video-box">
										<a href="https://www.youtube.com/watch?v=NeeMYH_zYag" class="popup-video"> <i class="fa fa-play"></i></a>
										<div class="iq-waves">
											<div class="waves wave-1"></div>
											<div class="waves wave-2"></div>
											<div class="waves wave-3"></div>
										</div>
										<h5>Video Intro</h5>
									</div>

								</div>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endzone %}


{{ Model.Content | shape_render }}