{% if Culture.Name == "en" %}
<section class="pt-100 pb-50">
    <div class="section-title">
        <h2> AI Thematic Research Program to Cope with National Grand Challenges</h2>
    </div>
    <div class="container m-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">

                {{ Model.ContentItem.Content.PriceSection.Image.Paths.first  |asset_url   | img_tag  }}

            </div>



            <div class="col-lg-4 col-md-6 col-sm-12">


                <h5><i class="bi bi-geo-alt-fill" style="color: #B71A35" ;></i>&nbsp;National Taiwan University</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="advanced-technologies-for-designing-trustable-ai-services" data-fancybox data-type="iframe" data-preload="false"> Advanced Technologies for Designing Trustable AI Services</a></li>
                    <li type="square"><a href="flipping-medical-and-healthcare-for-chronic-disease-management-with-artificial-intelligence-and-big-health-data-analytics-" data-fancybox data-type="iframe" data-preload="false">Flipping Medical and Healthcare for Chronic Disease Management with Artificial Intelligence and Big Health Data Analytics</a></li>
                    <li type="square"><a href="nexls-self-supervised-and-trustworthy-learning-for-next-generation-intelligent-services" data-fancybox data-type="iframe" data-preload="false">NexIS: Self-supervised and Trustworthy Learning for Next-generation Intelligent Services</a></li>
                    <li type="square"><a href="learning-from-cross-modality-data-for-image-semantics-understanding-description-synthesis-manipulation" data-fancybox data-type="iframe" data-preload="false">Learning from Cross-Modality Data for Image Semantics Understanding, Description, Synthesis and Manipulation</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #00B0EC"></i>&nbsp;National Yang Ming Chiao Tung University</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="smart-smart-medical-ai-and-repository-taskforce-center" data-fancybox data-type="iframe" data-preload="false">SMART: Smart Medical AI and Repository Taskforce Center</a></li>
                    <li type="square"><a href="pervasive-ai-services-developing-intelligent-agents-to-drive-digital-transformations" data-fancybox data-type="iframe" data-preload="false">Pervasive Al Services: Developing Intelligent Agents to Drive Digital Transformations</a></li>
                    <li type="square"><a href="resilient-homeland-development-of-a-smart-uav-based-disaster-prevention-system" data-fancybox data-type="iframe" data-preload="false">Resilient Homeland: Development of a Smart UAV-based Disaster Prevention System</a></li>
                    <li type="square"><a href="development-and-application-of-marine-exploration-and-ecological-survey-technologies-under-climate-change" data-fancybox data-type="iframe" data-preload="false">Development of Advanced Time Series Machine Learning Core Techniques and Integrated Tools</a></li>
                    <li type="square"><a href="data-representation-and-learning-for-dialogue-system" data-fancybox data-type="iframe" data-preload="false">Data Representation and Learning for Dialogue System</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #3CB034"></i>&nbsp;Taipei Medical University</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="national-hub-building-a-national-model-of-data-hub-for-healthy-aging" data-fancybox data-type="iframe" data-preload="false">National Hub: Building a National Model of Data Hub for Healthy Aging </a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #E95098"></i>&nbsp;National Taiwan Ocean University</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="development-and-application-of-marine-exploration-and-ecological-survey-technologies-under-climate-change" data-fancybox data-type="iframe" data-preload="false">Development and Application of Marine Exploration and Ecological Survey Technologies under Climate Change</a></li>
                </ul>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">

                <!--
                <h5 class="point_color_5"><i class="bi bi-geo-alt-fill" style="color: #44606E"></i>&nbsp;National Central University</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="taiwan-ai-based-management-strategy-twai-for-earth-and-environmental-disasters" data-fancybox data-type="iframe" data-preload="false">Taiwan Al-based Management Strategy,TWAI,for Earth and Environmental Disasters</a></li>
                </ul>
                -->

                <h5 class="point_color_6"><i class="bi bi-geo-alt-fill" style="color: #F08336"></i>&nbsp;National Tsing Hua University</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="an-integrated-manufacturing-platform-the-law-of-science-and-technology-and-industrial-ecosystem-smart-production-and-intelligent-precision-manufacturing-with-digital-decision-ai-modeling-big-data-governance-and-kernel-technologies" data-fancybox data-type="iframe" data-preload="false">An Integrated Manufacturing Platform, the Law of Science and Technology, and Industrial Ecosystem - Smart Production and Intelligent Precision Manufacturing with Digital Decision, AI Modeling, Big Data Governance and Kernel Technologies </a></li>
                </ul>

                <h5 class="point_color_7"><i class="bi bi-geo-alt-fill" style="color: #D5E049"></i>&nbsp;National Chung Hsing University</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="smart-sustainable-new-agriculture-research-center" data-fancybox data-type="iframe" data-preload="false">Smart Sustainable New Agriculture Research Center </a></li>
                </ul>

                <h5 class="point_color_8"><i class="bi bi-geo-alt-fill" style="color: #652B3F "></i>&nbsp;National Chung Cheng University</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="design-of-integrated-command-and-control-center-for-sustainable-smart-cities" data-fancybox data-type="iframe" data-preload="false">Design of Integrated Command and Control Center for Sustainable Smart Cities </a></li>
                </ul>

                <h5 class="point_color_9"><i class="bi bi-geo-alt-fill" style="color: #FCCD3B"></i>&nbsp;National Cheng Kung University</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="building-a-cooperative-a-i-pathology-analysis-platform" data-fancybox data-type="iframe" data-preload="false">Building a Cooperative A.l. Pathology Analysis Platform</a></li>
                    <li type="square"><a href="constructing-a-novel-ai-training-pipeline-from-flexible-annotation-tool-to-lifelong-learning" data-fancybox data-type="iframe" data-preload="false">Constructing a Novel Al Training Pipeline:From Flexible Annotation Tool to Lifelong Learning</a></li>
                </ul>
            </div>


        </div>
    </div>
</section>
{% else %}
<section class="pt-100 pb-50">
    <div class="section-title m-3">
        <h2> 回應國家重要挑戰之人工智慧主題研究專案</h2>
    </div>
   
    <div class="container ">

        <div class="row m-3">
            <div class="col-lg-4 col-md-6 col-sm-12">

                {{ Model.ContentItem.Content.PriceSection.Image.Paths.first  |asset_url   | img_tag  }}

            </div>



            <div class="col-lg-4 col-md-6 col-sm-12">


                <h5><i class="bi bi-geo-alt-fill" style="color: #B71A35" ;></i>&nbsp;國立臺灣大學</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="適用於智慧服務的可信賴ai先進技術研究" data-fancybox data-type="iframe" data-preload="false"> 適用於智慧服務的可信賴AI先進技術研究</a></li>
                    <li type="square"><a href="以人工智慧與醫療健康大數據翻轉慢性疾病醫療照護與管理" data-fancybox data-type="iframe" data-preload="false">以人工智慧與醫療健康大數據翻轉慢性疾病醫療照護與管理</a></li>
                    <li type="square"><a href="nexis-自我監督以及可信賴學習技術的次世代智能服務" data-fancybox data-type="iframe" data-preload="false">NexIS：自我監督以及可信賴學習技術的次世代智能服務</a></li>
                    <li type="square"><a href="跨模態資料學習於圖像語意理解-描述-生成與操控" data-fancybox data-type="iframe" data-preload="false">跨模態資料學習於圖像語意理解、描述、生成與操控</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #00B0EC"></i>&nbsp;國立陽明交通大學</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="邁向2030年智慧醫療大健康跨域計畫" data-fancybox data-type="iframe" data-preload="false">邁向2030年智慧醫療大健康跨域計畫</a></li>
                    <li type="square"><a href="普適ai服務-數位轉型趨勢下的智慧型代理人" data-fancybox data-type="iframe" data-preload="false">普適AI服務：數位轉型趨勢下的智慧型代理人</a></li>
                    <li type="square"><a href="韌性家園-以智慧無人機建構之智慧安全環境與防災系統" data-fancybox data-type="iframe" data-preload="false">韌性家園-以智慧無人機建構之智慧安全環境與防災系統</a></li>
                    <li type="square"><a href="對話系統之資料表示與學習" data-fancybox data-type="iframe" data-preload="false">對話系統之資料表示與學習</a></li>
                    <li type="square"><a href="前瞻性時間序列機器學習核心技術及整合工具之研發" data-fancybox data-type="iframe" data-preload="false">前瞻性時間序列機器學習核心技術及整合工具之研發</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #3CB034"></i>&nbsp;臺北醫學大學</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="打造國家級全方位人工智慧精準健康數據樞紐模式計畫-national-hub-" data-fancybox data-type="iframe" data-preload="false">打造國家級全方位人工智慧精準健康數據樞紐模式計畫(National Hub)</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #E95098"></i>&nbsp;國立臺灣海洋大學</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="氣候變遷下海洋探測與環境分析技術開發與應用" data-fancybox data-type="iframe" data-preload="false">氣候變遷下海洋探測與生態調查技術開發與應用</a></li>
                </ul>

            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">

                <!--
                <h5><i class="bi bi-geo-alt-fill" style="color: #44606E"></i>&nbsp;國立中央大學</h5>

                <ul style='list-style-position:outside;'>
                    <li type="square"><a href="人工智慧架構的地球環境災害檢抗策略twai-湍-" data-fancybox data-type="iframe" data-preload="false">人工智慧架構的地球環境災害防減抗策略TWAI（湍）</a></li>
                </ul>
                -->

                <h5><i class="bi bi-geo-alt-fill" style="color: #F08336"></i>&nbsp;國立清華大學</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="聰明生產與智慧精準製造之數位決策-ai模型-大數據治理與核心技術之整合製造平台及其科技法律與產業生態系統" data-fancybox data-type="iframe" data-preload="false">聰明生產與智慧精準製造之數位決策、AI模型、大數據治理與核心技術之整合製造平台及其科技法律與產業生態系統</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #D5E049"></i>&nbsp;國立中興大學</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="智慧永續新農業研究發展中心" data-fancybox data-type="iframe" data-preload="false">智慧永續新農業研究發展中心</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #652B3F "></i>&nbsp;國立中正大學</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="永續智慧城市之指揮與監控中心設計" data-fancybox data-type="iframe" data-preload="false">永續智慧城市之指揮與監控中心設計</a></li>
                </ul>

                <h5><i class="bi bi-geo-alt-fill" style="color: #FCCD3B"></i>&nbsp;國立成功大學</h5>

                <ul style='list-style-position: outside;'>
                    <li type="square"><a href="具有整合協力合作之開放式人工智慧病理分析平台-30台灣ai醫療生態圈-一個可信任之ai精準健康及預防醫學共享平台-" data-fancybox data-type="iframe" data-preload="false">具有整合協力合作之開放式人工智慧病理分析平台30台灣AI醫療生態圈：一個可信任之AI精準健康及預防醫學共享平台</a></li>
                    <li type="square"><a href="開發一個從普適性標注到具終身學習能力之原創ai工作流程指引" data-fancybox data-type="iframe" data-preload="false">開發一個從普適性標注到具終身學習能力之原創AI工作流程指引</a></li>
                </ul>
            </div>


        </div>
    </div>
</section>
{%  endif %}
<script>Fancybox.bind('[data-fancybox', {
        //
    });</script>