	<!-- Start Services Design Two Section -->
	<section class="service-design-two pt-70 pb-100">
		<div class="container">
             {{ Model.Content.BagPart | shape_render}}
		</div>
	</section>
	<!-- End Services Design Two Section -->