{% assign contentMenuItem = Model.ContentItem.Content.ContentMenuItemPart %}

{% if Model.HasItems %}
<a href="{{ contentMenuItem.SelectedContentItem.ContentItemIds.first | display_url }}" class="nav-link" data-bs-toggle="dropdown">{{ Model.ContentItem.DisplayText }}<em class="fas fa-chevron-down"></em></a>

{% else %}
<a class="nav-link" href="{{ contentMenuItem.SelectedContentItem.ContentItemIds.first | display_url}}">{{ Model.ContentItem.DisplayText }}</a>

{% endif %}