<section class="widget widget_tag_cloud">
    <h3 class="widget-title">標籤</h3>
    <div class="tagcloud">

        {% for item in Model.Items %}
        
            {{ item | shape_render}}
        
        {% endfor %}
        
    </div>

</section>


