<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="choose-single-feature">
        <h3>High quality Features</h3>
        <div class="choose-features-info">
            <div class="choose-features-icon color-icon-1">
                <i class="flaticon-programming"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit veniam</p>
        </div>
    </div>
</div>
