	<!-- Start Terms & Conditions Area -->
	<section class="terms-conditions ptb-100">
		<div class="container">
			<div class="single-terms">
				{{ Model.ContentItem.Content.HtmlBodyPart.Html | liquid }}
                {{ Model.ContentItem.Content.LiquidPart.Liquid | liquid }}
		</div>
	</section>