<div class="col-lg-3 col-md-6">
    <a href="#0" class="single-services-one">
        <div class="services-icon">
            <i class="flaticon-server"></i>
        </div>
        <h3>{{ Model.ContentItem.DisplayText }}</h3>
        <p>{{ Model.ContentItem.Content.ServiceDesignOneItem.ContextText.Text }}</p>
    </a>
</div>