{% zone "Header" %}

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">

                <div class="page-title-content">
                    <h2>{{ Model.ContentItem.DisplayText }}</h2>
                    <ul>
                        <!--
                        <li>
                            <a href="/">Home</a>
                        </li>
                        -->
                        <li>{{ Model.Content.HtmlBodyPart | shape_render }}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% endzone %}

{% shape_remove_item Model.Content "HtmlBodyPart" %}

{% shape_remove_item Model.Content "Spotlight-Image" %}



{{ Model.Content | shape_render }}

