	<!-- Start Services Design Three Section -->
<section class="services-design-three section-padding">
    <div class="container">
        <div class="row">
            {{ Model.Content.BagPart | shape_render}}
        </div>
    </div>
</section>