	<!-- Start Project Design Two Section -->
	<section class="project-design-two pt-100 pb-70">
		<div class="container">
			<div class="row">
                {{ Model.Content.BagPart | shape_render}}
            </div>
		</div>
	</section>
	<!-- End Project Design Two Section -->