
<li class="list-group-item col-12 px-3 {{ Model.ContentItem.Content.SingleProject.CSSID.Text}}">

        {% a display_for:Model.ContentItem %}

        <h5 >
            <i class="bi bi-people"></i>&nbsp;{{Model.ContentItem.DisplayText}}
        </h5>
       
       


        {% enda %}


</li>