
<div>
    <i class="bi bi-bookmark-check-fill"></i>
    <span>{{"Prtoject Categories:" }}</span>
    {% assign tagTerms = Model.Field | taxonomy_terms %}
    {% for tagTerm in tagTerms %}
    {% a display_for: tagTerm %}
    {{ tagTerm }}
    {% enda %}
    {% endfor %}
</div>