<div >
    <span> 專案分類:</span>
    {% assign tagTerms = Model.Field | taxonomy_terms %}
    {% for tagTerm in tagTerms %}
    {% a display_for: tagTerm %}
    {{ tagTerm }}
    {% enda %}
    {% endfor %}
</div>