<section class="widget widget_categories">
    <h3 class="widget-title">{{"專案類別:" }}</h3>
    <ul>

        {% assign catTerms = Model.Field | taxonomy_terms %}
        {% for catTerm in catTerms %}
        {% a display_for: catTerm %}
        <li>{{ catTerm }}</li>
        {% enda %}
        {% endfor %}

    </ul>
</section>
