<section class="widget widget_categories">
    <h3 class="widget-title">政策分類</h3>
    <ul>

        {% for item in Model.Items %}

        {{ item | shape_render }}

        
        {% endfor %}
        
       
    </ul>
</section>

